.main {
  display: flex;
  flex-direction: column;
  background-image: url("../../../public/Images/Sky.png");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
